<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lectores</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1>Lista de Lectores</h1>
		<a th:href="@{/addLector}" class="btn btn-primary btn-sm mb-3">Agregar
			Lector</a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th><a
						th:href="@{'/pageLector/' + ${currentPage} + '?sortField=nombre&sortDir=' + ${reverseSortDir}}">
							Nombre lector</a></th>
					<th><a
						th:href="@{'/pageLector/' + ${currentPage} + '?sortField=telefono&sortDir=' + ${reverseSortDir}}">
							telefono</a></th>
					<th><a
						th:href="@{'/pageLector/' + ${currentPage} + '?sortField=direccion&sortDir=' + ${reverseSortDir}}">
							Direccion</a></th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lector: ${listLector}">
					<td th:text="${lector.nombre}"></td>
					<td th:text="${lector.telefono}"></td>
					<td th:text="${lector.direccion}"></td>
					<td><a th:href="@{/updateLector/{id}(id=${lector.nSocio})}"
						class="btn btn-primary">Actualizar</a> <a
						th:href="@{/deleteLector/{id}(id=${lector.nSocio})}"
						class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages >1}">
			<div class="row col-sm-10">
				<div class="col-sm-5">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-3">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/pageLector/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/pageLector/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Proximo</a>
					<span th:unless="${currentPage < totalPages}">Proxima</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/pageLector/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ultima</a>
					<span th:unless="${currentPage < totalPages}">Ultima</span>
				</div>
			</div>


		</div>
</body>
</html>