<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Copias</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h1>Gestion de Cursos</h1>
	<hr>
	<h2>Alta de Cursos</h2>

	<form action="#" th:action="@{/saveCopy}" th:object="${copia}"
		method="POST">
		<th>Estado</th>
		<select th:field="*{estado}" class="form-control mb-4 col-4" >
		<option th:each="estadocopia: ${estcopia}" th:text="${estadocopia.copyStatus}" value='th:text="${estadocopia.id}"'></option>
		</select>
		<th>Libro</th>
		<select th:field="*{fk_libro}" class="form-control mb-4 col-4"  >
		<option th:each="libros: ${libros}" th:text="${libros.titulo}" value='th:text="${libros.id}"'></option>
		</select>
		

		<button type="submit" class="btn btn-info col-2"> Guardar Copia</button>
	</form>

	<hr>

	<a th:href = "@{/}"> Back to Copy List</a>
</div>
</body>
</html>
