<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Prestamos</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">
</head>
<body>
<div class="container">
	<h1>Gestion de Prestamos</h1>
	<hr>
	<h2>Prestamos</h2>

	<form action="#" th:action="@{/savePrestamo/}" th:object="${prestamo}"
		method="POST">
		<input type="date" th:field="*{inicio}"
			placeholder="Fecha de inicio de la multa" class="form-control mb-4 col-4">

		<input type="date" th:field="*{fin}"
			placeholder="Fecha de fin de la multa" class="form-control mb-4 col-4">

		<th>Lector</th>
		<select class="form-control mb-4 col-4" th:field="*{lector.nSocio}" >
		<option th:each="lector: ${lector}" th:value="${lector.nSocio}" th:text="${lector.nombre}"></option>
		</select>
		<th>Título de la copia</th>
		<select class="form-control mb-4 col-4" th:field="*{copia.id}" >
		<option th:each="copias: ${copias}" th:if="${copias.estadoCopia.id == 3}" th:value="${copias.id}"  th:text="${copias.libro.titulo}"></option>
		</select>
		
		

		<button type="submit" class="btn btn-info col-2"> Guardar Prestamo</button>
	</form>

	<hr>

	<a th:href = "@{/prestamo}"> Volver a la pantalla de prestamo</a>
</div>
</body>
</html>